.app{
    position: relative;
}
.appContainer{
    width:350px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    overflow: hidden;
    border-radius: 10px;
}
.container{
    width:340px;
    margin: auto;
    height: 72%;
    overflow-y:auto;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
    display: none;
}
h1{
    text-align: center ;
    margin-bottom: 25px;
}
form , .ItemContainer{
    border-radius: 25px;
    background-color: orange;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
input[type ="text"] , .ItemContent{
    width:85%;
    padding: 0px 6px;
    background-color: transparent;
    border: none;
    outline:none;
    display:inline-block;
    color: white;
}
input[type="button"] , .deleteButton{
    width: 15%;
    height: 48px;
    padding: 6px;
    border:none;
    outline: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 28px;
    background-color: black;
    color:  orange;
}
.ItemContainer{
    background-color: rgba(255, 255, 255, 0.8)!important;
    color: black;
    margin-top: 8px;
}
.ItemContent{
    color: black;
    line-height: 48px;
    padding: 0px 10px;
}
.deleteButton{
    display: none;
    z-index: 999;
}
.ItemContainer:hover .deleteButton{
    display: inline-block;
    background-color: red;
    color: black;
}